/* The Modal (background) */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  z-index: 1;
}

.modal__content {
  width: 50rem;
  background-color: #fff;
}

.modal__header, .modal__footer{
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}

.modal__title {
  margin: 0;
}
  
.modal__body {
  padding: 1rem;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
  /* Modal Content
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  } */